.WrapperHeader {
  color: #000;
  font-size: 14px;
}
.AddUser {
  margin-top: 10px;
  height: 150px;
  width: 150px;
  border-radius: 6px;
  border-style: dashed;
  .AddIcon {
    font-size: 60px;
  }
}
.TableUser {
  margin-top: 20px;
}
.upload_image {
  & .ant-upload.ant-upload-select.ant-upload-select-picture-card {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  & .ant-upload-list-item-info {
    display: none;
  }
  & .ant-upload-list-item {
    display: none;
  }
}
